.footer {
  margin-top: 15rem;
  background: url("../img/bg-footer.png"), rgba($color-white-1, 0.02);
  backdrop-filter: blur(1111.11px);
  padding: 0 25rem;
  position: relative;

  &__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 0 7rem 0;
  }

  &__img {
    backface-visibility: hidden;
    width: 12rem;
    height: 3rem;
    z-index: 20;
  }

  &__form {
    display: flex;
    position: relative;
  }

  &__input {
    font-size: 1.8rem;
    color: rgba($color-white-1, 0.75);
    width: 45rem;
    height: 7.5rem;
    border: none;
    padding: 0.5rem 0 0 4rem;

    background: rgba($color-white-1, 0.03);
    backdrop-filter: blur(333.333px);
    border-radius: 80px;

    transition: all 0.3s;

    &::-webkit-input-placeholder {
      color: rgba($color-white-1, 0.55);
      font-family: $font-primary;
      z-index: 25;
      font-size: 1.8rem;
    }

    &:focus,
    &:active {
      outline: none;
      width: 60rem;
    }
  }

  &__btn {
    position: absolute;
    border: none;
    width: 16rem;
    height: 6.2rem;
    border-radius: 100px;
    background-color: $color-primary-dark;
    color: $color-white-1;
    text-align: left;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 2.5rem;

    cursor: pointer;

    &:hover {
      transform: translateY(-52%);
    }

    &:active {
      transform: translateY(-48%);
    }

    &::before {
      content: "\27F6";
      background-color: $color-primary-light;
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50px;
      position: absolute;

      z-index: 100;
      left: 80%;
      top: 50%;
      transform: translate(-50%, -50%);

      align-items: center;
      justify-content: center;
      display: flex;
    }

    @include respond(tab-land) {
      &:hover,
      &:active {
        transform: translateY(-50%);
      }
    }

    @include respond(tab-port) {
      padding-left: 1.8rem;
    }
  }

  &__links {
    font-size: 2rem;
  }

  &__link {
    transition: all 0.2s;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover {
      color: $color-primary-dark;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7rem;
  }

  .copyright {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;

    a,
    a:link,
    a:active {
      text-decoration: none;
      color: $color-white-1;
      transition: all 0.2s;

      &:hover {
        color: $color-primary-dark;
      }
    }
  }

  .copyright-alt {
    display: none;
    font-size: 1.7rem;
    align-items: center;
    line-height: 2;

    a,
    a:link,
    :active {
      text-decoration: none;
      color: $color-white-1;
      transition: all 0.2s;

      &:hover {
        color: $color-primary-dark;
      }
    }
  }

  @include respond(desktop) {
    padding: 0 10rem;
  }

  @include respond(tab-land) {
    .copyright {
      display: none;
    }

    .copyright-alt {
      display: flex;
      justify-content: center;
      padding-bottom: 7rem;
    }

    &__nav {
      justify-content: center;
      padding-bottom: 5rem;

      .nav-top__item {
        &:not(:last-child) {
          margin-right: 15rem;
        }
      }
    }
  }

  @include respond(tab-port-3) {
    padding: 0 7rem;
    margin-top: 0;

    &__input:focus,
    &__input:active {
      width: 50rem;
    }
  }

  @include respond(mini-tab-port) {
    &__contact {
      flex-direction: column;
    }

    &__form {
      margin: 5rem 0;
    }

    &__input:focus,
    &__input:active {
      width: 60rem;
    }

    &__btn {
      font-size: 1.5rem;
    }
  }

  @include respond(big-phone) {
    margin-top: -17rem;

    &__contact {
      padding: 10rem 0 0 0;
    }
  }

  @include respond(phone) {
    .copyright-alt {
      text-align: center;
      max-width: 80%;
      margin: 0 auto;
    }

    &__input:focus,
    &__input:active {
      width: 50rem;
    }
  }

  @include respond(min-phone) {
    margin-top: 20rem;

    &__input:focus,
    &__input:active {
      width: 47rem;
    }

    &__btn {
      padding-left: 2rem;
    }

    .copyright-alt {
      max-width: max-content;
    }
  }
}
