.services {
  margin: 6.5rem 0 0 8rem;
  padding-top: 8.5rem;

  @include respond(tab-land) {
    margin: 6.5rem 0 0 0rem;
  }
}

.service {
  &__text {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.96rem;
    color: $color-primary;
    text-transform: uppercase;
  }

  &__title {
    max-width: 45rem;
    margin-bottom: 15rem;
  }

  &__intro {
    display: flex;
    justify-content: space-between;
    position: relative;

    .btn {
      position: absolute;
      right: 8rem;
      bottom: 15rem;
      a {
        color: $color-white-1;
      }

      &::before {
        left: 4.4rem;
      }

      @include respond(tab-port-2) {
        right: 0;
      }
    }
  }

  @include respond(big-phone) {
    &__intro {
      .btn {
        right: 0;
      }
    }
  }

  @include respond(phone) {
    &__text {
      text-align: center;
    }

    &__intro {
      flex-direction: column;

      .btn {
        position: inherit;
        bottom: 0;
        right: 0;
        margin: 0 auto;
        margin-bottom: 5rem;
      }
    }

    &__title {
      margin: 0 auto 10rem;
    }
  }

  @include respond(min-phone) {
    &__title {
      margin: 0 auto 7rem;
    }

    &__intro .btn {
      margin-bottom: 10rem;
    }
  }
}

.perfumes {
  position: relative;
  transition: transform 0.3s;
}

.perfume {
  display: flex;
  position: absolute;

  &__img-1 {
    width: 30rem;
    height: 35rem;
    margin-right: 5rem;
  }

  &__img-2 {
    width: 30rem;
    height: 40rem;
    margin-right: 5rem;
  }

  &__number {
    font-size: 5rem;
    font-weight: 400;
    align-self: flex-end;

    &-1 {
      padding: 0 4rem 2.5rem 0;
    }

    &-2 {
      padding: 0 4rem 3.5rem 0;
    }
  }

  &__details {
    top: 10%;
    left: 100%;
    width: 50%;
    margin: auto 0;
  }

  &__title {
    font-size: 2.6rem;
    font-weight: 400;
    width: max-content;
  }

  &__info {
    color: $color-white-dark-1;
    font-size: 1.5rem;
    margin: 3rem 0 5rem 0;
    line-height: 2;
    letter-spacing: -0.016rem;
    width: 50%;

    &-2 {
      width: 70%;
    }
  }

  &__link {
    font-size: 1.5rem;
    color: $color-white-1;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.6;
    width: max-content;
    letter-spacing: 0.096rem;

    display: inline-block;
    padding-bottom: 0.3rem;

    background-image: linear-gradient($color-white-1, $color-primary-dark);
    background-size: 0 3px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.3s ease-out;

    position: absolute;
    z-index: 10;

    &:hover {
      background-size: 100% 2px, auto;
    }
  }

  &-1 {
    left: 20rem;
    align-items: center;
  }

  &-2 {
    left: 100rem;
    align-items: center;
    margin-top: -4rem;
  }

  @include respond(desktop) {
    &-1 {
      left: 10rem;
    }

    &-2 {
      left: 85rem;
    }
  }

  @include respond(mini-desktop) {
    &-1 {
      left: 5rem;
    }

    &-2 {
      left: 75rem;
    }
  }

  @include respond(tab-land) {
    &-1 {
      left: 0rem;
    }

    &-2 {
      left: 70rem;
    }
  }

  @include respond(tab-port-3) {
    &__info {
      font-size: 2rem;
      width: 68%;
    }
  }

  @include respond(tab-port-3) {
    &-2 {
      left: 80rem;
    }
    &__info {
      width: 100%;
    }
  }

  @include respond(big-phone) {
    &-2 {
      margin-top: 0;
      left: 73rem;
    }

    &__number {
      font-size: 3.5rem;
      &-1 {
        padding: 0 1rem 2.7rem 0;
      }

      &-2 {
        padding: 0 1rem 3.7rem 0;
      }
    }

    &__img-1 {
      width: 25rem;
      height: 27rem;
      margin-right: 3rem;
    }

    &__img-2 {
      width: 20rem;
      height: 26rem;
      margin-right: 3rem;
    }

    &__info {
      width: 100%;
    }
  }

  @include respond(phone) {
    &__number {
      display: none;
    }
  }

  @include respond(min-phone) {
    margin-top: 5rem;
    &__title {
      margin: 0 auto;
    }

    &__link {
      left: 50%;
      transform: translateX(-50%);
    }

    &__title,
    &__info,
    &__link {
      text-align: center;
    }

    &-1,
    &-2 {
      flex-direction: column;
    }

    &-1 {
      left: 0;
    }

    &__img-1 {
      margin-right: 0;
    }

    &-2 {
      margin-top: 0;
    }

    &__details {
      top: initial;
      left: initial;
      width: 100%;
      margin-top: 3rem;
    }
  }
}
