// Projects Section

.projects {
  padding-top: 14.5rem;
}

.projects-bg {
  width: 117rem;
  height: 58.5rem;
  background: #fff;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 2.5rem;

  h2 {
    padding: 6.5rem 0 5rem 0;
    text-align: center;
    margin-left: 0;
  }

  & a:last-child {
    color: $primary;
    font-weight: 600;
    font-size: 1.5rem;
  }
}

h2 {
  font-weight: 900;
  font-size: 3rem;
  color: $primary;
}

.center-view-proj {
  width: 37rem;
  height: 24.8rem;
  background: no-repeat center center/cover;
}

.right-view-proj {
  background: no-repeat center center/cover;
  margin-left: 2rem;
}

.left-view-proj {
  margin-right: 2rem;
  background: no-repeat center center/cover;
}

.left-view-proj,
.right-view-proj {
  width: 32.3rem;
  height: 21.5rem;
  margin-top: 5rem;
}

.left-view-proj,
.center-view-proj,
.right-view-proj {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 4rem;
  border: none;
  object-fit: cover;
}

.proj-carusel {
  display: flex;
  justify-content: center;
}

.controls {
  display: none;
  color: $primary;
  font-size: 2rem;
}

.left-arrow {
  float: left;
  margin-left: 20rem;
}

.right-arrow {
  float: right;
  margin-right: 20rem;
}

.left-arrow,
.right-arrow {
  margin-top: -30rem;
  cursor: pointer;
}

.proj-dots-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.proj-dot.active {
  background-color: #000;
}

span {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: gray;
  margin-right: 1rem;
  cursor: pointer;
}

span:last-child {
  margin-right: 0;
}

.projects-full {
  width: 17rem;
  height: 4rem;
  background: #fff;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 35px auto 0;
  cursor: pointer;

  &:active {
    transform: scale(0.98);
  }
}

///////////////////////// RESPOSIVENESS
@include respond(tab-mini) {
  .projects {
    padding-top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projects-bg {
    width: 100rem;
    height: 51rem;
  }

  .center-view-proj {
    width: 30rem;
    height: 20rem;
  }

  .left-view-proj,
  .right-view-proj {
    width: 28rem;
    height: 18rem;
  }

  .left-arrow,
  .right-arrow {
    margin-top: -30rem;
    cursor: pointer;
  }

  .projects-full {
    width: 15rem;
    height: 4rem;
  }
}

@include respond(tab-port--2) {
  .projects-bg {
    width: 90rem;
  }

  .left-view-proj {
    margin-right: 1rem;
  }

  .right-view-proj {
    margin-left: 1rem;
  }
}

@include respond(tab-small) {
  .projects-bg {
    width: 70rem;
    height: 48rem;
  }

  .center-view-proj {
    width: 22rem;
    height: 15rem;
  }

  .left-view-proj,
  .right-view-proj {
    width: 20rem;
    height: 14rem;
  }

  .projects-full {
    width: 14rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .left-view-proj,
  .center-view-proj,
  .right-view-proj {
    border-radius: 3rem;
  }
}

@include respond(tab-small--2) {
  .projects-bg {
    width: 65rem;
    height: 48rem;
  }

  .center-view-proj {
    width: 35rem;
    height: 22rem;
  }

  .left-view-proj,
  .right-view-proj {
    display: none;
  }
}

@include respond(phone) {
  .projects-bg {
    width: 60rem;
    height: 48rem;
  }
}

@include respond(phone-2) {
  .projects-bg {
    width: 50rem;
    height: 48rem;
  }
}

@include respond(tab-m-l) {
  .projects-bg {
    width: 45rem;
    height: 45rem;
  }

  .center-view-proj {
    width: 30rem;
    height: 20rem;
  }
}

@include respond(tab-m-m) {
  .projects-bg {
    width: 37rem;
    height: 42rem;
  }

  .center-view-proj {
    width: 25rem;
    height: 15rem;
  }
}

@include respond(tab-m-s) {
  .projects-bg {
    width: 35rem;
  }
}
