* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 400;
  overflow-x: hidden;
  background: #c8d9d6;
  position: relative;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.header {
  padding: 50px 0 150px 0;
  background: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: linear-gradient(90deg, #d1e8e2 -10.44%, #116466 112.94%);
  background-blend-mode: multiply;
}

.logo {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

h2 {
  font-weight: 900;
  font-size: 30px;
  color: #116466;
}

.prof-1 {
  font-weight: 700;
}

.prof-2 {
  font-weight: 400;
}

.navigation,
.menu-links,
.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-desc {
  margin-left: 15px;
  line-height: 151.19%;
}

.menu-nav {
  margin-left: 120px;
}

.menu-nav li {
  margin-right: 50px;
}

.menu-nav li:last-child {
  margin-right: 0;
}

.menu-links {
  margin-left: 120px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-links li {
  margin-right: 20px;
  font-size: 15px;
}

.menu-links li:last-child {
  margin-right: 0;
}

.tel {
  font-weight: 600;
  font-size: 15px;
  margin-left: auto;
}

.menu-nav li a:hover,
.menu-links li a:hover,
.tel:hover {
  color: #116466;
}

.menu-links li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-links li:not(:hover) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.me {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.me h1 {
  font-size: 40px;
  font-weight: 900;
  max-width: 550px;
  margin-bottom: 12px;
}

.me p {
  max-width: 480px;
  line-height: 151.19%;
  margin-bottom: 30px;
}

.hire {
  width: 100px;
  height: 40px;
  color: #fff;
  margin-right: 15px;
}

.cv {
  width: 55px;
  height: 40px;
}

.hire,
.cv {
  border: 1px solid #fff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 15px;
}

.cv:hover {
  border-color: #116466;
  background-color: #fff;
}

.head-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head-btn a:hover {
  color: #116466;
}

.my-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.about-me {
  font-weight: 600;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.about-me .fa-xing {
  font-size: 30px;
  float: left;
}

.about-me a:hover,
.about-me .fa-xing:hover {
  color: #116466;
}

.about-me a:last-child {
  margin-left: auto;
}

.about-me .fa-google-wallet {
  font-size: 15px;
}

.portfolio {
  padding-top: 145px;
}

.portfolio-bg {
  width: 1170px;
  height: 585px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.portfolio-bg h2 {
  padding: 65px 0 50px 0;
  text-align: center;
}

.portfolio-bg a:last-child {
  color: #116466;
  font-weight: 600;
  font-size: 15px;
}

.center-view-proj {
  width: 370px;
  height: 248px;
  background-image: url(../img/it.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.left-view-proj {
  margin-right: 20px;
  background-image: url(../img/result.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.right-view-proj {
  margin-left: 20px;
  background-image: url(../img/portfolio.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.left-view-proj,
.right-view-proj {
  width: 323px;
  height: 215px;
  margin-top: 50px;
}

.left-view-proj,
.center-view-proj,
.right-view-proj {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  cursor: pointer;
  border: none;
}

.proj-carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controls {
  display: none;
  color: #116466;
  font-size: 20px;
}

.left-arrow {
  float: left;
  margin-left: 200px;
}

.right-arrow {
  float: right;
  margin-right: 200px;
}

.left-arrow,
.right-arrow {
  margin-top: -300px;
  cursor: pointer;
}

.proj-dots-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.proj-dot.active {
  background-color: #000;
}

span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 10px;
  cursor: pointer;
}

span:last-child {
  margin-right: 0;
}

.portfolio-full {
  width: 170px;
  height: 40px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px auto 0;
  cursor: pointer;
}

.skills {
  padding-top: 120px;
  margin-top: 25px;
}

.skills-bg {
  width: 1170px;
  height: 620px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.skills-bg h2 {
  padding: 65px 0 50px 100px;
}

.skills-filter {
  width: 235px;
  height: 425px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.76%, #d1e8e2), color-stop(111.05%, #116466), color-stop(111.06%, #116466));
  background: linear-gradient(180deg, #d1e8e2 -15.76%, #116466 111.05%, #116466 111.06%);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-left: 33px;
  font-size: 14px;
  padding: 50px 0 0 35px;
}

.skills-filter div {
  margin-bottom: 30px;
  cursor: pointer;
}

.skills-filter div:last-child {
  margin-bottom: 0;
}

.skills-filter p:hover {
  color: #116466;
}

.skill-list {
  display: none;
}

.skill-active {
  display: block;
}

.html > p,
.css > p,
.js > p,
.py > p,
.php > p,
.adobe > p,
.d3 > p,
.tools > p,
.ms-main > p,
.ms-others > p,
.langs > p,
.soft-tools > p,
.cms > p {
  color: #000;
  font-weight: 700;
  font-size: 13px;
}

h3 {
  color: #2c3531;
  font-size: 15px;
  font-weight: 800;
}

.skills-list {
  width: 835px;
  height: 425px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-right: 33px;
  padding: 38px 0 25px 40px;
}

.filter-active {
  color: #2c3531;
}

.html > p:hover > i {
  color: #e20000;
}

.css > p:hover > i {
  color: #0027af;
}

.js > p:hover > i {
  color: #fff500;
}

.php > p:hover > i {
  color: #0074c8;
}

.php .details p:first-child:hover i {
  color: #ff6b00;
}

.css .details p:first-child:hover i {
  color: #ff00a8;
}

.adobe > p:hover > i {
  color: #ff0000;
}

.d3 .details p:first-child:hover i {
  color: #40e378;
}

.soft-tools .details p:first-child:hover i,
.soft-tools .details p:last-child:hover i {
  color: #007ac0;
}

.details {
  margin-bottom: 15px;
}

.details p {
  margin: 15px 0 10px 0;
  color: #000;
  font-weight: 400;
  font-size: 12px;
}

.html,
.css,
.js,
.py,
.php,
.adobe,
.d3,
.tools,
.ms-main,
.ms-others,
.langs,
.soft-tools,
.cms {
  margin: 25px 0 15px 0;
}

.js,
.tools {
  margin-right: 100px;
}

.html {
  margin-bottom: 35px;
}

.php,
.d3,
.ms-others,
.cms {
  margin: 25px auto 0 235px;
}

.quartet {
  margin: 120px 0 0 62px;
  padding-top: 80px;
}

.quartet h2:first-child {
  text-align: center;
  padding-bottom: 50px;
}

.quartet-slider {
  width: 95%;
  position: relative;
  max-width: 1120px;
  width: 1120px;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
          box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 600px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 992px) {
  .quartet-slider {
    max-width: 680px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .quartet-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .quartet-slider {
    height: 350px;
  }
}

.quartet-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .quartet-slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.quartet-slider__item.swiper-slide-active .quartet-slider__img img {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > * {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(1) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(3) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(5) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(6) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(7) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(8) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(9) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(10) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(11) {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(12) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(13) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(14) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.quartet-slider__item.swiper-slide-active .quartet-slider__content > *:nth-child(15) {
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

.quartet-slider #abror-bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-22.5%, #fff95b), color-stop(123.75%, #ff930f));
  background: linear-gradient(180deg, #fff95b -22.5%, #ff930f 123.75%);
}

.quartet-slider #mansur-bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-22.5%, #60efff), color-stop(123.75%, #00ff87));
  background: linear-gradient(180deg, #60efff -22.5%, #00ff87 123.75%);
}

.quartet-slider #nomonjon-bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-22.5%, #60efff), color-stop(123.75%, #0061ff));
  background: linear-gradient(180deg, #60efff -22.5%, #0061ff 123.75%);
}

.quartet-slider__img {
  width: 500px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 500px;
  -webkit-filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
  overflow: hidden;
}

.quartet-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}

.quartet-slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

@media screen and (max-width: 768px) {
  .quartet-slider__img {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .quartet-slider__img {
    width: 95%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .quartet-slider__img {
    height: 270px;
  }
}

.quartet-slider__content {
  padding-right: 25px;
}

@media screen and (max-width: 768px) {
  .quartet-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .quartet-slider__content {
    padding: 0;
  }
}

.quartet-slider__content > * {
  opacity: 0;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.quartet-slider__code {
  color: rgba(44, 53, 49, 0.4);
  margin-bottom: 25px;
  display: block;
  font-weight: 700;
  font-size: 16px;
}

.quartet-slider__title {
  font-size: 30px;
  font-weight: 700;
  color: #116466;
  margin-bottom: 15px;
}

.quartet-slider__text {
  color: #000;
  margin-bottom: 30px;
  line-height: 1.5em;
  max-width: 500px;
  font-size: 16px;
}

.quartet-slider__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 35px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .quartet-slider__button {
    width: 100%;
  }
}

.quartet-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.quartet-slider .swiper-pagination-custom,
.quartet-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.quartet-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .quartet-slider__pagination {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.quartet-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px -15px !important;
}

@media screen and (max-width: 768px) {
  .quartet-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}

.quartet-slider__pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.quartet-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .quartet-slider__pagination .swiper-pagination-bullet-active {
    height: 20px;
    width: 50px;
  }
}

.quartet-slider__pagination .swiper-pagination-bullet-active:first-child {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-22.5%, #ff930f), color-stop(123.75%, #fff95b));
  background: linear-gradient(180deg, #ff930f -22.5%, #fff95b 123.75%);
}

.quartet-slider__pagination .swiper-pagination-bullet-active:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-22.5%, #00ff87), color-stop(123.75%, #60efff));
  background: linear-gradient(180deg, #00ff87 -22.5%, #60efff 123.75%);
}

.quartet-slider__pagination .swiper-pagination-bullet-active:last-child {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-22.5%, #0061ff), color-stop(123.75%, #60efff));
  background: linear-gradient(180deg, #0061ff -22.5%, #60efff 123.75%);
}

.read-abror {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(-5.95%, #ff930f), color-stop(108.65%, #fff95b));
  background-image: linear-gradient(90deg, #ff930f -5.95%, #fff95b 108.65%);
}

.read-nomonjon {
  background: -webkit-gradient(linear, left top, right top, color-stop(-5.95%, #0061ff), color-stop(108.65%, #60efff));
  background: linear-gradient(90deg, #0061ff -5.95%, #60efff 108.65%);
}

.read-mansur {
  background: -webkit-gradient(linear, left top, right top, color-stop(-5.95%, #00ff87), color-stop(108.65%, #60efff));
  background: linear-gradient(90deg, #00ff87 -5.95%, #60efff 108.65%);
}

.contacts {
  margin: 200px 0 100px 0;
}

.contacts-bg {
  width: 1170px;
  height: 521px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.contacts-bg h2 {
  padding: 65px 0 50px 100px;
}

.form {
  max-width: 645px;
  margin-left: 100px;
  padding-top: 30px;
}

.form ::-webkit-input-placeholder {
  color: #116466;
  opacity: 0.5;
}

.form :-ms-input-placeholder {
  color: #116466;
  opacity: 0.5;
}

.form ::-ms-input-placeholder {
  color: #116466;
  opacity: 0.5;
}

.form ::placeholder {
  color: #116466;
  opacity: 0.5;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="phone"],
.form textarea {
  font-family: "Montserrat", sans-serif;
}

.name p,
.email p,
.phone p,
.text p {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

.name label,
.name div,
.email label,
.email div,
.phone label,
.phone div,
.text label,
.text div {
  position: absolute;
  padding-left: 13px;
  width: 73px;
  height: 26px;
  background: -webkit-gradient(linear, right top, left top, color-stop(-19.11%, #c8d9d6), color-stop(118.2%, #146668), color-stop(118.21%, #116466));
  background: linear-gradient(270deg, #c8d9d6 -19.11%, #146668 118.2%, #116466 118.21%);
  -webkit-box-shadow: 0px 0px 4px #c8d9d6;
          box-shadow: 0px 0px 4px #c8d9d6;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  margin-top: -55px;
}

#fname,
#email,
#phone,
#text,
.txtarea {
  width: 280px;
  background: -webkit-gradient(linear, left bottom, left top, from(#c8d9d6), to(#c8d9d6));
  background: linear-gradient(0deg, #c8d9d6, #c8d9d6);
  -webkit-box-shadow: 0px 2px 4px #116466;
          box-shadow: 0px 2px 4px #116466;
  border-radius: 10px;
  border: 0;
  padding: 20px 0 3px 12px;
  margin-left: 15px;
  color: #116466;
}

#fname,
#email,
#phone,
#text {
  height: 40px;
}

.txtarea {
  height: 178px;
  resize: none;
}

.email,
.phone {
  margin: 50px 0 30px 0;
}

.text {
  margin-left: 350px;
  margin-top: -249px;
}

.text div {
  margin-top: -220px;
}

.form-btn {
  width: 122px;
  height: 40px;
  background: -webkit-gradient(linear, right top, left top, color-stop(-19.11%, #c8d9d6), color-stop(118.2%, #146668), color-stop(118.21%, #116466));
  background: linear-gradient(270deg, #c8d9d6 -19.11%, #146668 118.2%, #116466 118.21%);
  -webkit-box-shadow: 0px 0px 4px #c8d9d6;
          box-shadow: 0px 0px 4px #c8d9d6;
  border-radius: 10px;
  border: 0;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  margin: 50px 0 0 250px;
  cursor: pointer;
}

.divider {
  width: 1px;
  height: 421px;
  background: #116466;
  border-radius: 0.5px;
  margin: -420px 0 0 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials {
  margin: -295px 0 0 930px;
}

.grid-container {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;
      grid-template-areas: ". . ." ". . ." ". . .";
}

.grid-item {
  width: 30px;
  height: 30px;
  background: -webkit-gradient(linear, right top, left top, color-stop(-19.11%, #c8d9d6), color-stop(118.2%, #146668), color-stop(118.21%, #116466));
  background: linear-gradient(270deg, #c8d9d6 -19.11%, #146668 118.2%, #116466 118.21%);
  -webkit-box-shadow: 0px 0px 4px #c8d9d6;
          box-shadow: 0px 0px 4px #c8d9d6;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-item a i {
  font-size: 13px;
}

.grid-item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.grid-item:not(:hover) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cred {
  font-weight: 900;
  font-size: 15px;
  text-align: center;
  color: #116466;
  margin-top: 100px;
}
/*# sourceMappingURL=styles.css.map */