.features {
  margin: 10rem 8rem 15rem 8rem;
  align-items: center;
  padding-top: 5rem;

  @include respond(tab-land) {
    margin: 10rem 0rem 15rem;
  }

  @include respond(min-phone) {
    .heading-3 {
      text-align: left;
    }
  }
}

.feature {
  // 1 block
  &__intro {
    display: flex;
    justify-content: space-between;

    &-text {
      font-size: 2rem;
      color: rgba(255,255,255, .25);
      max-width: 60rem;
      line-height: 3.5rem;
      letter-spacing: 0.032rem;
      margin-top: 3rem;
    }

    .btn {
      align-self: flex-end;

      &::before {
        left: 4.4rem;
      }
    }
  }

  // 2 block
  &__cards {
    display: flex;
    justify-content: space-around;
    margin: 20rem auto 0 auto;
  }


  &__card {
    position: relative;
    transition: all .3s;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-img {
      width: 20rem;
      position: relative;
      z-index: 50;
    }

    &-title {
      text-transform: uppercase;
      text-align: center;
      max-width: 20rem;
      display: flex;
      justify-content: center;
    }

    &-text {
      text-align: center;
      color: $color-grey;
      max-width: 30rem;
      font-size: 2rem;
      margin-top: 3rem;
      line-height: 1.6;
    }

    &::before, &::after {
      content: "";
      position: absolute;
    }

    &::before {
      @extend %bg-sm-3;
      @extend %feature-hover-circle;
      opacity: 0;
    }

    &::after {
      @extend %feature-hover-bg;
      opacity: 0;
    }

    &:hover::after {
      animation: showcase-2 .4s linear;
      opacity: 0.05;
    }

    &:hover::before {
      animation: showcase .2s;
      opacity: 1;
    }
  }
  
  &__card-1 {
    padding-top: 3rem;
  }

  &__card-3 {
    padding-top: 3rem;
  }

  @include respond(desktop) {
    &__cards {
      justify-content: space-between;
    }
  }

  @include respond(mini-desktop) {
    &__card {
      &-img {
        width: 15rem;
      }

      &::before {
        top: 25%;
        left: 50%;
      }
  
      &::after {
        height: 50rem;
        width: 35rem;
      }
    }
  }

  @include respond(tab-port-2) {
    &__cards {
      flex-direction: column;
    }

    &__card {
      &:first-child {
        margin-bottom: 25rem;
      }

      &:last-child {
        margin-top: 24rem;
      }

      &::before {
        opacity: 1;
      }
  
      &::after {
        opacity: 0.05;
        height: 50rem;
        width: 40rem;
      }
  
      &:hover::after {
        animation: none !important;
      }
  
      &:hover::before {
        animation: none !important;
      }
    }
  }

  @include respond(phone) {
    &__intro {
      flex-direction: column;
    }
  }

  @include respond(min-phone) {
    &__cards {
      margin: 15rem auto 0;
    }

    &__intro {
      &-text {
        margin-bottom: 5rem;
      }
      
      .btn {
        align-self: center;
      }
    }

    &__card-1, &__card-3 {
      display: none;
    }
  }
}