//  COLORS
$circle-bg: linear-gradient(180deg, #684D42 0%, rgba(9, 9, 9, 0) 100%);
$circle-rad: #720d27;

$color-primary: #FF678E;
$color-primary-light: #CB5B78;
$color-primary-dark: #B2405D; 

$color-white-1: #fff;
$color-white-2: #FCFBFB;

$color-white-dark-1: rgba(255,255,255, .25);
$color-white-dark-2: rgba(255,255,255, .35);
$color-white-btn-1: rgba(255,255,255, .5);
$color-white-btn-2: rgba(255,255,255, .1);

$color-grey: #5F5B5B;

$color-border: #3a1b22;

// FONT
$font-primary: 'Inter', sans-serif;

// GRID

