// Variables
$primary: #000050;
$info: #fff;
$title: #ffcc70;
$mont: "Montserrat", sans-serif;
$domine: "Domine", serif;

// Selectors
%section-title {
  font-family: $mont;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  color: $title;
}

%domine-regular {
  color: $primary;
  font-family: $domine;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

%mont-bold {
  font-family: $mont;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
  box-sizing: border-box;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

// Header Styling

.header {
  background: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: auto;
  padding-bottom: 110px;
}

// Navigation Section Styling

.company {
  display: flex;
  padding-top: 50px;
  align-items: center;

  img {
    width: 70px;
    height: 60px;
    margin-right: 15px;
  }
}

.losung {
  h6 {
    font-family: $mont;
    font-weight: 900;
    font-size: 13px;
    text-transform: uppercase;
    color: $title;
    line-height: 16px;
    margin-bottom: 6px;
  }

  p {
    font-family: $domine;
    font-weight: 700;
    font-size: 12px;
    color: $info;
    max-width: 144px;
    line-height: 14px;
  }
}

.nav-bar {
  margin-left: 74px;
  display: flex;

  a {
    color: $info;
  }

  li {
    display: inline;
    margin-right: 50px;
    font-family: $domine;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
  }
}

// Buttons of nav-bar

button {
  cursor: pointer;
}

.btn-login,
.btn-reg {
  @extend %mont-bold;
  border: 0px;
  z-index: 1;
  width: 130px;
  height: 40px;
  border-radius: 25px;
  color: $info;
  position: relative;
}

.btn-login {
  margin: 0px 30px 0px 50px;
  background: linear-gradient(180deg, #4158d0 -97.5%, #c850c0 192.5%);

  &:hover {
    background: linear-gradient(180deg, #4159d0e8 -97.5%, #c850c0f1 192.5%);
  }
}

.btn-reg {
  background: linear-gradient(
    92.83deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 103.14%
  );
  box-shadow: inset -5px -5px 4px rgba(255, 255, 255, 0.1),
    inset 5px 5px 4px rgba(255, 255, 255, 0.1);
  filter: drop-shadow(20px 30px 100px rgba(0, 0, 0, 0.05));

  &:hover {
    background: linear-gradient(
      92.83deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0) 103.14%
    );
    box-shadow: inset -5px -5px 4px rgba(255, 255, 255, 0.15),
      inset 5px 5px 4px rgba(255, 255, 255, 0.15);
    filter: drop-shadow(20px 30px 100px rgba(0, 0, 0, 0.05));
  }
}

.btn-bg-1,
.btn-bg-2 {
  width: 120px;
  height: 36.92px;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(200, 80, 192, 0.6) -97.5%,
    rgba(65, 88, 208, 0.6) 192.5%
  );
  filter: blur(30px);
  border-radius: 25px;
  top: 70px;
}

.btn-bg-1 {
  right: 465px;
}

.btn-bg-2 {
  right: 302px;
}

.header-info {
  margin-top: 230px;
  display: flex;
}

.company-name {
  color: $title;
  font-family: $mont;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 30px;
}

.company-info {
  color: $info;
  font-family: $domine;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  max-width: 405px;
}

.info-btn {
  @extend %mont-bold;
  width: 270px;
  height: 59px;
  background: linear-gradient(
    92.83deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 103.14%
  );
  box-shadow: inset -5px -5px 4px rgba(255, 255, 255, 0.1),
    inset 5px 5px 4px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: solid 1px $info;
  margin-top: 40px;

  a {
    color: $info;
  }
}

.info-gallery {
  margin: -120px 0 0 90px;
}

.gal-1 {
  width: 329px;
  height: 298px;
}

.gal-2 {
  width: 370px;
  height: 335px;
  display: block;
  margin-top: -150px;
  margin-left: 310px;
}

// About Section Styling

.about {
  margin-bottom: 50px;
}

h3 {
  @extend %section-title;
  text-align: center;
  padding: 100px 0 51px 0;
}

.about-gallery {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.about-img-1,
.about-img-2,
.about-img-3 {
  width: 368px;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(
    125deg,
    rgba(153, 160, 192, 0.5) 0%,
    rgba(153, 160, 192, 0) 103.14%
  );
  box-shadow: inset -5px -5px 4px rgba(255, 255, 255, 0.1),
    inset 5px 5px 4px rgba(255, 255, 255, 0.1);
  padding: 45px 49px 0 50px;

  p {
    @extend %domine-regular;
    text-align: center;
    padding-top: 30px;
    margin: 0 auto;
  }

  img {
    width: 270px;
    height: 189px;
  }
}

.border {
  width: 370px;
  height: 345px;
  border: double 4px transparent;
  border-radius: 11px;
  background-image: linear-gradient(white, white),
    linear-gradient(
      92.83deg,
      rgba(153, 160, 192, 0.5) 0%,
      rgba(153, 160, 192, 0) 103.14%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: -3px 4px 0 0;
}

.about-img-1 p {
  max-width: 250px;
}

.about-img-2 p {
  max-width: 220px;
}

.about-img-3 p {
  max-width: 215px;
}

// Service Section Styling

.services {
  margin-bottom: 100px;
}

.service-list {
  display: flex;
  align-items: center;
  padding-top: 50px;

  h3 {
    float: left;
    padding: 0;
  }
}

.serv-bg {
  position: absolute;
  right: 0;
  top: 1420px;
}

.serv-bar {
  margin-left: 115px;
  li {
    @extend %domine-regular;
    display: inline;
    margin-right: 50px;
    z-index: 1;
    position: relative;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  li:last-child {
    color: $info;
  }
}

.service-items {
  position: relative;
  justify-content: space-between;
  text-align: center;
  padding-top: 50px;
  display: flex;
}

.item {
  border: 1px solid $primary;
  border-radius: 5px;
  width: 270px;
  height: 270px;

  p {
    color: $primary;
    font-family: $domine;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}

.item-1,
.item-2,
.item-4,
.item-5,
.item-6,
.item-7 {
  padding-top: 30px;
}

.item-3 {
  padding-top: 26px;

  & + p {
    margin-top: 15px;
  }
}

.item-8 {
  padding-top: 45px;
}

.item-4 + p {
  color: $info;
}

.item-1 + p,
.item-5 + p {
  margin-top: 30px;
}

.item-2 + p,
.item-4 + p {
  margin-top: 27px;
}

.item-6 + p {
  margin-top: 29px;
}

.item-7 + p {
  margin-top: 23px;
}

.item-8 + p {
  margin-top: 38px;
}

.serv-btn,
.faq-btn {
  text-align: center;
  margin-top: 40px;
  position: relative;

  button {
    @extend %mont-bold;
    width: 170px;
    height: 50px;
    border: 0px;
    color: $primary;
    background: linear-gradient(94.94deg, #8bc6ec 0%, #9599e2 100%);
    border-radius: 5px;
    z-index: 1;
    position: relative;

    a {
      color: $primary;
    }
  }
}

.serv-btn-bg,
.faq-btn-bg {
  position: absolute;
  width: 160px;
  height: 47px;
  background: linear-gradient(
    94.94deg,
    rgba(139, 198, 236, 0.6) 0%,
    rgba(149, 153, 226, 0.6) 100%
  );
  filter: blur(30px);
  border-radius: 5px;
  top: 0;
  margin: 10px;
  left: 510px;
}

// Frequently Asked Questions Styling

.faq {
  padding-top: 50px;
  position: relative;
  text-align: center;
  padding-bottom: 60px;
}

.faq-img-1 {
  width: 344px;
  height: 237px;
  float: left;
  position: absolute;
  left: 0;
}

.faq-img-2 {
  width: 523px;
  height: 336px;
  margin-top: 280px;
  float: right;
  position: absolute;
  right: 0;
}

.faq-block {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  h3 {
    padding: 0;
    position: absolute;
  }
}

.faq-ques {
  margin-top: 80px;

  .que {
    margin-bottom: 30px;
    border-bottom: 1px solid $primary;
    width: 570px;
    text-align: left;
    line-height: 1.5em;
  }

  .down-mark {
    float: right;

    &:hover {
      cursor: pointer;
    }
  }
}

// For JS purposes

// .que-1 {
// }
// .que-2 {
// }
// .que-3 {
// }
// .que-4 {
// }
// .que-5 {
// }

.que {
  @extend %domine-regular;
}

.faq-btn {
  align-items: center;

  .faq-btn-bg {
    left: 772px;
  }
}

// Footer Styling

.footer {
  background: url("../img/footer1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: auto;
  padding: 250px 0 100px 0;

  .nav-bar {
  flex-direction: column;
  }

  .company {
    margin-top: 60px;
  }
}

.information {
  display: flex;
  justify-content: space-between;
}

.contacts, .info {
  display: block;

  h3 {
    padding: 0;
    text-align-last: left;
    margin: 56px 0 45px 0;
  }

  ul {
    @extend %domine-regular;
    color: $info;

    li {
      margin-bottom: 30px;
      max-width: 350px;
      position: relative;
      z-index: 1;

      &:last-child, .urls {
        margin: -5px 0 0 0;
        display: flex; 
      }
    }
  }
}

.urls {
  padding-left: 10px;
  a {
    margin:0 5px 0 0;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.info h3 {
  margin-left: 70px;
}

.location h3 {
  padding: 0;
  text-align-last: left;
  margin: 56px 0 45px 0;
}

.map {
  height: 300px;
  width: 470px;
  border-radius: 5px;
  border: 0;
}

.author {
  width: 568px;
  height: 428px;
  position: absolute;
  margin: 20px 0 0 60px;
}

// JS Helper

.hidden {
  display: none;
}

.show {
  display: block;
}

.inactive-list {
  text-decoration: none;
}

.active-list {
  text-decoration: underline;
}

.que-active {
  display: block;
}

.que-inactive {
  display: none;
}

.rotate {
  transform: rotate();
}
